:root {
  --bg-dark: #16423c;
  --accent-green-dark: #6a9c89;
  --accent-green-light: #c4dad2;
  --accent-light: #e9efec;
  --neutral-dark: #191919;
  --neutral-grey: #1e6133;
  --neutral-white: #fff;
  --neutral-green: #366e49;
  --primary-accent: #8b57c6;
  --secondary-accent: #9a4b32;
}
